.grid{
  display: grid;
  grid-template-columns: repeat(3,15%);
  grid-template-rows: repeat(10, 1fr);
  gap: 20px;
color: rgb(119, 117, 117);
justify-content: center;
margin-top:20px;
}

.inp{
 margin-top: 20px;
 /* position: absolute; */
 
}
.inp label{
  position: absolute;
  left: 26%;
  margin-top: 25px;
}

.inp input{
  width: 50%;
  height: 30px;
  border-radius: 20px;
margin-left: 23%;
margin-top: 20px;
}
.box{
  height: 30px;
  width: 50%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-left: 23%;
  background-color: rgb(237, 237, 237);
  margin-top: 20px;
  
}